.converter{
   position: relative;
   top: 80px;
   left: 550px;
   display: flex;
   justify-content: space-between;
   box-sizing: border-box;
   height: 80vh;

}
.converter h2{
    font-size: 30px;
    color: #133a39;
    position: relative;
    left: 0px;
    bottom: 50px;
}
.converter .cp{
    font-size: 16px;
    color: #133a39;
    position: relative;
    bottom: 10px;
}
.ratebo{
    width: 390px;
    height: 120px;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 15px;
}
.outicon{
    margin-top:20px;
    margin-left: 15px;
}
.exflex{
   margin-top: 15px;
   margin-left: 20px;
}
.exflex h3{
    font-size: 22px;
}
.exflex p{
    font-weight: 200;
    font-size: 12px;
    padding-top: 3px;
}
.ethimg{
    width: 70px;
    position: relative;
    bottom: 55px;
    left: 180px;
}

.currconvert{
    margin-top: 30px;
}
label{
    color: #133a39;
    font-weight: 600;
    font-size: 16px;   
}
.label1{
    position: relative;
    bottom: 35px;
    left: 90px;
}
.formconvert1{
    margin-top: 10px;
    padding: 10px;
    color: #133a39;
    border-radius: 5px;
    width: 150px;
    border: 1px solid #8e9898;
    
}
.formconvert2{
    margin-top: 10px;
    padding: 10px;
    color: #133a39;
    border-radius: 5px;
    width: 150px;
    border: 1px solid #8e9898;
    position: relative;
    bottom: 46px;
    left: 240px;
}
.formconvert3{
    margin-top: 10px;
    padding: 20px;
    color: #133a39;
    border-radius: 5px;
    width: 390px;
    font-size: 16px;
    border: 1px solid #8e9898;
}
.formconvertp{
    color: red;
    font-size: 12px;
}
.conbtn{
    margin-top: 40px;
    width: 195px;
    background-color: #133a39;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border: none;
    position: relative;
    left: 100px;
    height: 60px;
    border-radius: 10px;
}
.conbtn:hover{
    transition: ease-in-out 0.6s;
    background-color: #d2d9d9;
    color: #133a39;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border: 2px solid #133a39;
    position: relative;
    left: 100px;
    height: 60px;
    border-radius: 10px;
}
.rateresult{
    margin-top: 10px;
    font-size: 27px;
    color: #133a39;
    width: 400px;
    text-align: center;
    position: relative;
    top: 20px;
}
.convertnote{
    text-align: center;
    margin-top: 60px;
    color: #133a39;
    font-size: 16px;
    width: 400px;
}
.know{
    margin-top: 90px;
    width: 400px;

}
.knowbarp{
    margin-top: 30px;
    color: #133a39;
    width: 400px;
    text-align: center;
}
.filerate{
    position: relative;
    left: 250px;
    bottom: 0px;
    font-size: 26px;
    font-weight: 600;
    color: #133a39;
}

@media (max-width: 390px){
    .converter{
        position: relative;
        top: 80px;
        left: 300px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box; 
     }
    .filelist{
        display: none;
        visibility: hidden;
        position: relative;
        right: 40px;

    }
    .filerate{
        display: none;
        visibility: hidden;
    }
    .keyboard{
        position: relative;
        left: 30px;
       
    }
    .converter h2{
        font-size: 25px;
        position: relative;
        left: 30px;
       
    }
    .converter .cp{
        font-size: 14px;
       width: 350px;
       position: relative;
       left: 30px;  
    }
    .ratebo{
        width: 340px;
        height: 100px;
        margin-top: 17px;
        position: relative;
       left: 25px;   
    }
    label{
       position: relative;
       left: 30px;
    }
    .label1{
        position: relative;
        bottom: 73px;
        left: 275px;
    }
   .formconvert1{
        width: 130px;
        position: relative;
        left: 30px;
        top: 10px;
    } 
   
    .formconvert2{
        width: 130px;
        position: relative;
        left: 235px;
        bottom: 66px;   
    } 
    .formconlab{
        position: relative;
        bottom: 30px;
    }
    .formconvert3{
        position: relative;
        bottom: 30px;
        width: 310px;
        left: 35px;
    }
    .conbtn{
        margin-top: 30px;
        
    }
}
   @media (max-width: 820px) {
    .converter{
       position: relative;
       top: 150px;  
       margin: 0 auto;
       padding: 0 5%;
       clear: both;

     }
     .filerate{
        display: none;
        visibility: hidden;
        margin: 0 auto;
        padding: 0 5%;
        clear: both;
    }
    .converter h2{
        font-size: 40px;
        position: relative;  
    }
    .converter .cp{
        font-size: 20px;
       width: 560px;
       
    }
    .ratebo{
        width: 540px;
        position: relative;
        top: 20px; 
        height: 180px;  
    }
    .outicon{
        position: relative;
       font-size: 60px;
       top: 20px;
    }
    .exflex h3{
        font-size: 40px;
        position: relative;
        top: 10px;
    }
    .exflex p{
        font-size: 18px;
        position: relative;
        font-weight: 400;
        top: 20px;
    }
    .ethimg{
        width: 120px;
        position: relative;
        left: 250px;
        bottom: 80px;
    }
    .currconvert{
        position: relative;
        top: 30px;
    }
    label{
        font-size: 25px;
    }
    .formconvert1{
        width: 200px;
        height: 60px;
        position: relative;
        top: 15px;
    }
    .label1{
        position: relative;
        left: 420px;
        font-size:20px;
        bottom: 95px;
        white-space: nowrap;
    }
    .formconvert2{
        width: 200px;
        height: 60px;
        position: relative;
        top: -75px;
        left: 340px;
    }
    .formconvert3{
        width: 540px; 
    }
    .conbtn{
        position: relative;
        top: 25px;
        left: 10px;
    }
    }
