.navul{
    margin-top: 70px;
    
}
.navli{
    list-style-type: none;
    margin-top: 45px;   
}
.logout{
    margin-top: 80px;
}
@media (max-width: 390px){
    .navul{
        display: none;
        visibility: hidden;
        margin: 0;
    }
    .smallnav{
        width: 50px;
    }
    .anime{
        position: relative;
        font-size: 30px;
        left: 50px;
        bottom: -5px;
    }
    #wrapper {
        max-width: 940px;
        margin: 0 auto;
        padding: 0 5%;
        clear: both;
      }
 }
 @media (max-width: 820px){
    .list{
       left:190px
    }
    
    }